*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: sans-serif;
}
body.controller {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #313233;
    margin: 0;
    padding: 0;
    border: 15px solid #454647;
}
div.move-left {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: hsl(210,3%,87%);
}
div.move-left.pressed {
    background-color: hsl(210,3%,37%);
}
div.move-right {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: hsl(210,3%,77%);
}
div.move-right.pressed {
    background-color: hsl(210,3%,27%);
}
div.move-left svg,
div.move-right svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    fill: black;
}
div.move-right svg {
    transform: translate(-50%, -50%) rotate(180deg);
}
div.move-left.pressed svg,
div.move-right.pressed svg {
    fill: white;
}
div.exit {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-100%);
    z-index: 10;
    background: #dedfe0;
    padding: 10px;
}
div.exit svg {
    height: 10vh;
    transform: rotate(90deg);
}
div.exit svg path {
    fill: white;
}
div.exit.pressed svg path {
    fill: grey;
}
div.refresh-color {
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: 10;
    background: #dedfe0;
    padding: 10px;
}
div.refresh-color svg {
    height: 10vh;
    width: 10vh;
}
div.refresh-color svg path {
    fill: white;
}
div.refresh-color.pressed svg path {
    fill: grey;
}