*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: sans-serif;
}
body.screen {
    background-color: #454647;
    margin: 0;
    padding: 0;
}
body.controller {
    background-color: teal;
}
div.move-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: green;
}
div.move-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: red;
}

main {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
}
main .content {
    position: absolute;
    top: 0;
    right: 300px;
    left: 0;
    bottom: 0;
    background: #454647;
}
main .content canvas {
    transform-origin: top left;
    background: #313233;
}
main .content .waiting {
    position: absolute;
    top: 5vh;
    left: 10vh;
    color: white;
}
main .sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #dedfe0;
}
main .sidebar .scores {
    flex: 1;
    padding: 10px;
}
.scores ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}
.scores .player-color {
    display: inline-block;
    width: 15px;
    height: 15px;
}
.scores .is-dead .score {
    text-decoration: line-through;
}

main .sidebar div.qrcode {
    width: 300px;
    height: 300px;
    padding: 22px;
    background: white;
}
main .sidebar div.controller-link {
    width: 300px;
    height: auto;
    padding: 0 10px 10px 10px;
    background: white;
    word-wrap: break-word;
    text-align: center;
}
main .sidebar div.controller-link a,
main .sidebar div.controller-link a:visited,
main .sidebar div.controller-link a:hover,
main .sidebar div.controller-link a:focus {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}